
<main>
  <h3>Counter: <meta $name>
  </h3>

  <section>
    <button @click="count--">(-)<sub>1</sub></button>
    <button @click="count++">(+)<sub>1</sub></button>
    <button @click="incRef($data)">(+)<sub>2</sub></button>
    <div>Property: <meta $count></div>
  </section>
  <section>
    <button @click="$me.$data.local--">(-)<sub>1</sub></button>
    <button @click="local++">(+)<sub>1</sub></button>
    <button @click="incLocal()">(+)<sub>2</sub></button>
    <div>Local: <meta $local></div>
  </section>
  <section>
    <button @click="sync--">(-)<sub>1</sub></button>
    <button @click="$data.sync--">(-)<sub>2</sub></button>
    <button @click="incShare()">(+)<sub>2</sub></button>
    <div>Syncronized: <meta $sync></div>
  </section>
  <section>
    <button @click="persist--">-</button>
    <button @click="persist++">+</button>
    <div>Persistent: <meta $persist></div>
  </section>
</main>

<script>
  export function $props() {
    return {
      name: '',
      count: {
        default: 0,
        cast: parseInt,
      },
    }
  }

  export function $store({persisted, synced}) {
    return {
      local: 0,
      persist: persisted(0),
      sync: synced(0),
    }
  }

  class CountEvent extends Event {
    constructor(count) {
      super('count')
      this.count = count
    }
  }

  export default class extends HTMLElement {
    incLocal() { this.$data.local++ }
    incRef(base) { base.count++ }
    incShare() { this.$data.sync += 1}

    async connectedCallback() {
      this.$effect(async () => {
        // Custom event classes have better ergonomics on the receiving end.
        this.dispatchEvent(new CountEvent(this.$data.count))
      })
    }
  }
</script>

<style>
  main {
    display: inline-block;
    padding: 0 8px 4px 8px;
    border-width: 1px;
    width: 24rem;
    border-style: solid;
    border-color: black;
    font-family: monospace;
    & > h3 > span {
      color: green;
    }
  }
  section {
    font-size: 1.0rem;
    margin-bottom: 0.8rem;

    & > div {
      float: right;
      text-align: right;

      & > div {
        float: right;
        width: 3rem;
      }
    }
  }
</style>
