<param $name>

<meta #effect="run(name)">

<script>
  export default class extends HTMLElement {
    #hasRun = false

    async run(name) {
      if (this.#hasRun || !name) {
        return
      }

      this.#hasRun = true
      const Com = await customElements.whenDefined(name)
      const {tpl} = Com.def

      const parent = this.parentElement ?? this.getRootNode()
      if (!parent) {
        console.error('Could not find parent.')
        return
      }

      parent.insertBefore(tpl.cloneNode(true), this)
      this.remove()
    }
  }
</script>
