
<script>
  export function $props() {
    return {
      name: '',
    }
  }

  export default class extends HTMLElement {
    async connectedCallback() {
      this.$effect(() => {
        this.#tryRun(this.$data.name)
      })
    }

    #hasRun = false
    async #tryRun(name) {
      if (this.#hasRun || !name) {
        return
      }

      this.#hasRun = true
      const Com = await customElements.whenDefined(name)
      const {tpl} = Com.def

      const parent = this.parentElement ?? this.getRootNode()
      if (!parent) {
        console.error('Could not find parent.')
        return
      }

      parent.insertBefore(tpl.cloneNode(true), this)
      parent.removeChild(this)
    }
  }
</script>
