<div>
  <!-- SLOT GAME <meta $rows> x <meta $cols> -->
  SLOT GAME <meta $="`${rows} x ${cols}`">
</div>

<main :style="{'--rows': rows, '--cols': cols}">
  <section u-for="name in cells">
    <slot :name>
      <div $name></div>
    </slot>
  </section>
</main>

<script>
  export function $props() {
    return {
      rows: {
        default: 2,
        cast: parseInt,
      },
      cols: {
        default: 2,
        cast: parseInt,
      }
    }
  }

  export function $store({computed}) {
    return {
      cells: computed($data => {
        const cells = []
        for (let i = 0; i < $data.rows; i++) {
          for (let j = 0; j < $data.cols; j++) {
            cells.push(`${i}:${j}`)
          }
        }
        return cells
      }),
    }
  }
</script>

<style>
  :host {
    font-family: monospace;
  }

  ::slotted([slot]), slot > :first-child {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    width: 50px;
    height: 50px;

  }

  main {
    display: inline-grid;
    grid-template-rows: repeat(var(--rows), 100px);
    grid-template-columns: repeat(var(--cols), minmax(100px, 1fr));

    border-top: 1px solid black;
    border-left: 1px solid black;
    gap: 0px;

    & > section {
      box-sizing: border-box;
      width: 100px;
      height: 100px;
      padding: 25px;
      background-color: white;

      border-bottom: 1px solid black;
      border-right: 1px solid black;
      place-self: stretch;
    }
  }
</style>
