<base href="@com/">
<source src="slot-game.html">

<param
  $maxlen="8"
  $rows.save="4"
  $cols.save="4"
>

<header>
  Game Size:
  <input :value="rows" @input="rows = $event.target.value">
  x
  <input :value="cols" @input="cols = $event.target.value">
  <meta %rows> x <meta %cols>
</header>

<slot-game :rows="rows" :cols="cols">
  <div slot="0:3">
    HERE
  </div>
</slot-game>

<script>
  export function connectedCallback() {
    this.$game = this.$('slot-game')
  }

  export function inputData(name) {
    const {$data} = this
    return {
      get value() {
        return $data[name]
      },
      set value(text) {
        const val = parseInt(text)
        if (val <= $data.MAX_LENGTH && val > 0) {
          $data[name] = val
        }
      },
    }
  }
</script>

<style>
  :host {
    font-family: monospace;
  }

  header {
    margin-bottom: 10px;
  }

  input {
    width: 3rem;
    text-align: center;
  }
</style>
